

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.ui-datepicker {
	width: 190px !important; /*what ever width you want*/
}

.doctors_sideview li.active a{
	color:#000;
}
.show_on_print{display: none;}
@media print{
	.show_on_print{display: block;}
	.navbar-inner, .hide_on_print{display: none;}
}










