

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.ui-datepicker {
	width: 190px !important; /*what ever width you want*/
}

.doctors_sideview li.active a{
	color:#000;
}
.show_on_print{display: none;}
@media print{
	.show_on_print{display: block;}
	.navbar-inner, .hide_on_print{display: none;}
}

.doctors_sideview li{
	padding:6px 0 6px 10px;
}
.doctors_sideview li.active{
	background: #ccc;
}

#main_container{
	margin-left: 60px;
}

.container{
	width: 1220px;
}
label.error{display: none !important;}





