<h4 class="hide_on_print" style="float:left;">Pretraga: </h4>
	<form action="<%=nurse_search_path(@nurse.id, {:doctor_id => @doctor_id, :selected_date => @selected_date}) %>" method="GET">
		<input type="text" name="q" placeholder="Ime pacijenta" style="float:left;margin-top:5px;margin-left:12px;" value="<%= params[:q] %>" />
	</form>
<%= render :partial => "shared/reservations", :locals => {:reservations => @reservations, :doctor_id => @doctor_id, :selected_date => @selected_date, :shift => @shift, :search => true} %>
<script>
	$("#reservation_path").attr("href", "<%=new_nurse_reservation_path(@nurse.id, {:doctor_id => @doctor_id, :selected_date => @selected_date}).html_safe%>");
</script>